body{
    background-color: beige;
    margin: 30px auto;
}
#a{
    text-align: center;
    font-size: xx-large;
    color: black;
}
#c{
    font-size: xx-large;
    color: black;
}
#e{
    font-size: xx-large;
    color: black;
}
#d{
    text-align: justify;
    font-size: 14px;
    color:gray;
    margin-left: 5px;
}
#f{
    text-align: justify;
    font-size: 14px;
    color:gray;
    margin-left: 5px;
}